@media screen and (min-width: 300px) {
  .movies-card {
    list-style: none;
    width: 300px;
    height: 271px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .movies-card {
    width: 342px;
    height: 309px;
  }
}

@media screen and (min-width: 1200px) {
  .movies-card {
    width: 360px;
    height: 319px;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__info {
    display: flex;
    width: 272px;
    height: 46px;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .movies-card__info {
    width: 306px;
    height: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .movies-card__info {
    width: 324px;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .movies-card__name {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__timing {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    text-align: right;
    color: #A0A0A0;
    margin: 0;
    width: 50px;
  }
}

@media screen and (min-width: 768px) {
  .movies-card__timing {
    font-size: 13px;
    width: 70px;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 168px;
  }
}

@media screen and (min-width: 768px) {
  .movies-card__container {
    height: 190px;
  }
}

@media screen and (min-width: 1200px) {
  .movies-card__container {
    height: 200px;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__image {
    width: 300px;
    height: 168px;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (min-width: 768px) {
  .movies-card__image {
    width: 342px;
    height: 190px;
  }
}

@media screen and (min-width: 1200px) {
  .movies-card__image {
    width: 360px;
    height: 200px;
  }
}



@media screen and (min-width: 300px) {
  .movies-card__save-button {
    width: 100px;
    height: 29px;
    background: #F9F9F9;
    border-radius: 30px;
    border: none;
    padding: 0;
    margin: 14px auto;
    outline: none;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__save-button:hover {
    opacity: 0.8;
    transition: opacity .5s ease-out;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__save-button_to-save {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__save-button_saved {
    background: #FF4062;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__save-icon {
    width: 10px;
    height: 7px;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__save-button_delete {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 300px) {
  .movies-card__delete-icon {
    width: 8px;
    height: 7px;
  }
}
