@media screen and (min-width: 300px) {
  .techs {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .techs {
    background-color: #F5F5F5;
  }
}

@media screen and (min-width: 300px) {
  .techs__header {
    width:89%;
    text-align: left;
    margin: 70px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }
}

@media screen and (min-width: 768px) {
  .techs__header {
    width:87%;
    margin: 90px auto 0;
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .techs__header {
    width:89%;
    margin: 100px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .techs__header {
    width: 1140px;
  }
}

@media screen and (min-width: 300px) {
  .techs__line {
    width:89%;
    height: 1px;
    margin: 28px auto 0;
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .techs__line {
    width:87%;
    margin: 23px auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .techs__line {
    width:89%;
  }
}

@media screen and (min-width: 1280px) {
  .techs__line {
    width: 1140px;
    align-self: center;
  }
}

@media screen and (min-width: 300px) {
  .techs__list-header {
   width: 292px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 60px auto 24px;
  }
}

@media screen and (min-width: 768px) {
  .techs__list-header {
    width: 600px;
    font-size: 50px;
    line-height: 58px;
    margin: 80px auto 22px;
  }
}

@media screen and (min-width: 1200px) {
  .techs__list-header {
    margin: 90px auto 26px;
  }
}

@media screen and (min-width: 300px) {
  .techs__text {
    width: 292px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04em;
    margin: 0 auto 50px;
  }
}

@media screen and (min-width: 768px) {
  .techs__text {
    width: 460px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 83px;
  }
}

@media screen and (min-width: 1200px) {
  .techs__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto 100px;
  }
}

@media screen and (min-width: 300px) {
  .techs__container {
    width: 178px;
    margin: 0 auto 70px;
    display: grid;
    grid-template-columns: repeat(2, 84px);
    grid-template-rows: repeat(4, 57px);
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .techs__container {
    width: 648px;
    margin: 0 auto 90px;
    grid-template-columns: repeat(7, 84px);
    grid-template-rows: 57px;
  }
}

@media screen and (min-width: 1200px) {
  .techs__container {
    width: 690px;
    margin: 0 auto 100px;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: 60px;
  }
}

@media screen and (min-width: 300px) {
  .techs__card {
    width: 84px;
    height: 57px;
    border-radius: 10px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .techs__card {
    width: 90px;
    height: 60px;
  }
}

@media screen and (min-width: 300px) {
  .techs__tech-name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .techs__tech-name {
    font-size: 14px;
    line-height: 17px;
  }
}
